@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&family=Ubuntu&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.separatorTwo {
  width: 4px;
  height: 220px;

  margin-right: auto;
  margin-left: -50%;

  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;
}
.container-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

#experience-section {
  width: fit-content;
  display: flex;
  justify-self: center;
  img {
    height: auto;
  }
}

#content-section {
  margin-top: 25px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.1fr) minmax(0, 1fr);
  place-items: center;
}

#presentation-text {
  margin-right: 15px;
  p {
    font-family: "Nunito Sans";
    font-size: 32px;
    line-height: 44px;
    text-align: right;
  }
}

@media only screen and (max-width: 870px) {
  //a
  nav {
    height: 55px !important;
    #nav-logo {
      margin-left: 28px;
      img {
        width: 60px !important;
      }
    }
    a.navbar-element {
      font-size: 20px !important;

      text-decoration: none;
      margin-right: 32px;
    }
  }
  #hero-container {
    margin-top: 86px;
    width: 97.2vw; //1400
    height: 28vh !important;
    #hero-profile {
      position: relative;
      #profile-image-container {
        #profile-image {
          height: 160px;
          width: auto;
          position: absolute;
          top: -80px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    #profile-info-container {
      margin-top: 100px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      h1 {
        font-size: 34px !important;
      }
      h2 {
        font-size: 12px !important;
        margin-top: -20px;
      }
    }

    p,
    span#profile-contact-container img {
      display: none;
    }
  }

  #content-section {
    #experience-section {
      #experience-text {
        p {
          font-size: 26px !important;
          right: 28px;
          top: 45px;
        }
        h4 {
          font-size: 200px !important;
        }
      }
      #company-logos {
        position: absolute;
        display: flex;
        left: 90px;
        bottom: 65px;
        img {
          width: 90px;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #separator {
    display: none;
  }

  #profile-info-container {
    h1 {
      font-size: 53px !important;
    }
    span#profile-position {
      h2 {
        font-size: 35px !important;
      }
    }
    p#profile-contact-title {
      font-size: 25px !important;
    }
    span#profile-contact-container {
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
