#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 120px;
  width: 100%;
}

#photo-frame {
  grid-area: "photo-frame";
  display: flex;
  flex-direction: column;
  border: 3px solid #212529;
  border-radius: 20px;
}
#photo-frame #photo-title-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 5px 10px;
}
#photo-frame #photo-title-bar * {
  font-family: var(--ff-terciary);
}
#photo-frame #photo-title-bar > p {
  font-weight: 600;
}
#photo-frame #photo-title-bar #control-buttons-bar {
  display: flex;
}
#photo-frame #photo-title-bar #control-buttons-bar p {
  margin: 0 8px;
}
#photo-frame #photo-title-bar #control-buttons-bar p#minimize-button-bar {
  font-size: 30px;
  line-height: 80%;
  height: 0;
}
#photo-frame #photo-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#photo-frame #photo-container #photo-background-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
#photo-frame #photo-container #photo-background-container .photo-background {
  position: absolute;
  height: 150%;
  width: 150%;
  -webkit-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
  z-index: -1;
}
#photo-frame #photo-container #photo-background-container .photo-background:first-child {
  background-color: #919fea;
}
#photo-frame #photo-container #photo-background-container .photo-background:last-child {
  background: #73f690;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%);
}
#photo-frame #photo-container img {
  width: auto;
  height: 80%;
  margin: auto auto;
  border-radius: 50%;
  outline: 2.5px solid #000000;
  border: 3px solid white;
}
#photo-frame #photo-social-buttons {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 100%;
  padding: 8px;
}
#photo-frame #photo-social-buttons .social-button {
  display: flex;
  margin: 0 15px;
  width: 100px;
  height: 50px;
  border: 2px solid #212529;
  box-shadow: 2.5px 2.5px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
#photo-frame #photo-social-buttons .social-button img {
  width: 43px;
  margin: auto auto;
}

@media (min-width: 1921px) {
  #photo-frame {
    width: 460px;
    height: 505px;
  }
}
@media (max-width: 1920px) {
  #photo-frame {
    width: 460px;
    height: 505px;
  }
}
@media (max-width: 1280px) {
  #photo-frame {
    width: 350px;
    height: 410px;
  }
  #photo-frame #photo-social-buttons .social-button {
    margin: 0 10px;
    height: 44px;
  }
  #photo-frame #photo-social-buttons .social-button img {
    width: 38px;
  }
}
@media (max-width: 960px) {
  #photo-frame {
    width: 300px;
    height: 345px;
  }
  #photo-frame #photo-social-buttons .social-button {
    margin: 0 10px;
    height: 38px;
  }
  #photo-frame #photo-social-buttons .social-button img {
    width: 32px;
  }
}
@media (max-width: 768px) {
  #hero-section {
    margin-top: 100px;
  }
  #photo-frame {
    width: 260px;
    height: 310px;
  }
  #photo-frame #photo-social-buttons {
    padding: 4px 0;
  }
  #photo-frame #photo-social-buttons .social-button {
    margin: 0 6px;
    width: 100%;
    height: 35px;
  }
  #photo-frame #photo-social-buttons .social-button img {
    width: 28px;
  }
}
@media (max-width: 580px) {
  #hero-section {
    flex-direction: column-reverse;
    padding-bottom: 105px;
    margin-top: 70px;
  }
  #photo-frame {
    width: 310px;
    height: 350px;
  }
  #photo-frame #photo-container img {
    height: 80%;
  }
  #photo-frame #photo-social-buttons {
    padding: 4px 0;
  }
  #photo-frame #photo-social-buttons .social-button {
    margin: 0 8px;
    width: 100%;
    height: 35px;
  }
  #photo-frame #photo-social-buttons .social-button img {
    width: 28px;
  }
}
@media (max-width: 340px) {
  #photo-frame {
    width: 240px;
    height: 290px;
  }
  #photo-frame #photo-container img {
    height: 80%;
  }
  #photo-frame #photo-social-buttons {
    padding: 4px 0;
  }
  #photo-frame #photo-social-buttons .social-button {
    margin: 0 8px;
    width: 100%;
    height: 35px;
  }
  #photo-frame #photo-social-buttons .social-button img {
    width: 28px;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=hero.css.map */