@import "../_mixins";

#experience {
  display: flex;

  #experience-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    p {
      position: relative;

      margin-left: 8px;

      font-family: "Ubuntu";
      font-weight: 400;

      color: #212529;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  #experience-company-logos {
    display: flex;
    position: relative;

    img {
      &:nth-child(2) {
        margin-left: 0.6vw;
      }
    }
  }
}

/* ----------------- Desktop LG ----------------- */

@media (min-width: 2000px) {
  img#numberOne {
    width: calc(2vw + 60px);
    max-width: 150px;
  }
  #experience-text p {
    font-size: 3.2rem;
  }
  #experience-company-logos {
    top: -5px;
    left: 0.9vw;

    img {
      width: calc(5vw + 80px);
      max-width: 190px;
    }
  }
}

@media (min-width: 1920px) {
  img#numberOne {
    width: 80px;
  }
  #experience-text p {
    font-size: 2.2rem;
  }
  #experience-company-logos {
    top: -10px;
    left: 26px;

    img {
      width: 120px;
    }
  }
}

/* ----------------- Desktop LG ----------------- */

@include desktop-lg {
  img#numberOne {
    width: 80px;
  }
  #experience-text p {
    font-size: 2.2rem;
  }
  #experience-company-logos {
    top: -10px;
    left: 26px;

    img {
      width: 120px;
    }
  }
}

@media (max-width: 1550px) {
  img#numberOne {
    width: 70px;
  }
  #experience-text p {
    font-size: 2rem;
  }
  #experience-company-logos {
    top: -10px;
    left: 28px;

    img {
      width: 100px;
    }
  }
}

/* ----------------- Desktop SM ----------------- */

@include desktop-sm {
  img#numberOne {
    width: 55px;
  }
  #experience-text p {
    font-size: 1.55rem;
  }
  #experience-company-logos {
    left: 23px;

    img {
      width: 85px;
    }
  }
}

@media (max-width: 880px) {
  img#numberOne {
    width: 45px;
  }
  #experience-text p {
    font-size: 1.4rem;
  }
  #experience-company-logos {
    left: 23px;

    img {
      width: 75px;
    }
  }
}

/* ----------------- Tablet ----------------- */

@include tablet {
  #experience {
    margin-left: 30px;
    width: 250px;
  }
  img#numberOne {
    width: 45px;
  }
  #experience-text p {
    font-size: 1.35rem;
  }
  #experience-company-logos {
    left: 20px;

    img {
      width: 65px;
    }
  }
}

@media (max-width: 620px) {
  #experience {
    margin-left: 20px;
    width: 210px;
  }

  img#numberOne {
    width: 38px;
  }
  #experience-text p {
    font-size: 1.1rem;
  }
  #experience-company-logos {
    left: 23px;

    img {
      width: 55px;
    }
  }
}

/* ----------------- Phone ----------------- */

@include phone-xl /* (510px) */ {
  #experience {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }
  #experience {
    margin-top: 5px;
  }

  img#numberOne {
    width: 60px;
  }
  #experience-text p {
    font-size: 1.5rem;
  }
  #experience-company-logos {
    top: -10px;
    left: 22px;

    img {
      width: 85px;
    }
  }
}

@media (max-width: 370px) {
  #experience {
    margin-top: 5px;
  }

  img#numberOne {
    width: 50px;
  }
  #experience-text p {
    font-size: 1.4rem;
  }
  #experience-company-logos {
    left: 22px;

    img {
      width: 75px;
    }
  }
}
