.scroll-right-message {
  display: inline-block;
  font-family: "Montserrat";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.path {
  position: relative;
  display: flex;
}
.path#internships .scroll-right-message {
  display: none;
}

.path-box {
  margin: 40px 40px;
  position: relative;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.path-box .accordion-button {
  height: 100px;
  background-color: white;
  font-family: var(--ff-secondary);
  font-size: 1.8rem;
  position: relative !important;
}
.path-box .accordion-button:hover {
  position: relative !important;
  background-color: white;
}
.path-box .accordion-button img {
  width: 85px;
  height: auto;
  position: relative;
  left: 0;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 30px;
}
.path-box .path-box-type {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px 4px 0 4px;
  height: 15px;
  z-index: 10;
}
.path-box .path-box-type h4 {
  position: relative;
  font-family: var(--ff-terciary);
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.path-box .accordion-body {
  display: grid;
  grid-template-columns: 62% 38%;
  font-family: var(--ff-terciary);
}
.path-box .accordion-body a.accordion-webpage {
  text-decoration: none;
  font-weight: 600;
  color: black;
  position: relative;
}
.path-box .accordion-body a.accordion-webpage img {
  width: 16px;
  margin-left: 3px;
}
.path-box .accordion-body .accordion-body-division {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.path-box .accordion-body .accordion-body-division .accordion-keypoints-list {
  list-style: disc;
  padding-left: 18%;
}
.path-box .accordion-body .accordion-body-division .accordion-keypoints-list li:nth-child(n+2) {
  margin-top: 5%;
}
.path-box .accordion-body .accordion-body-division .accordion-body-sub-division {
  margin-left: auto;
  margin-top: auto;
  text-align: right;
  padding-right: 10px;
}
.path-box .accordion-body .accordion-body-division .accordion-body-sub-division * {
  margin: 5px 0;
}

@media (min-width: 1921px) {
  .path-box {
    width: 730px;
    border: 4px solid black;
    border-radius: 16px;
  }
  .path-box .path-box-type h3 {
    top: -35px;
    font-size: 2.2rem;
  }
  .path-box .path-image-container img {
    width: 200px;
  }
  .path-box .path-title {
    margin-top: 15px;
    font-size: 3rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.9rem;
  }
}
@media (max-width: 1920px) {
  .path-box {
    width: 600px;
  }
  .path-box .path-box-type h3 {
    font-size: 2rem;
  }
  .path-box .path-image-container img {
    width: 150px;
  }
  .path-box .path-title {
    font-size: 2.25rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.5rem;
  }
}
/* ----------------- Desktop SM ----------------- */
@media (max-width: 1440px) {
  .path-box {
    width: 500px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.7rem;
  }
  .path-box .path-image-container img {
    width: 130px;
  }
  .path-box .path-title {
    font-size: 2rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.25rem;
  }
}
@media (max-width: 1200px) {
  .path-box {
    margin: 30px 20px;
  }
}
/* ----------------- Tablet ----------------- */
@media (max-width: 1080px) {
  .path-box {
    width: 400px;
    margin: 30px 20px;
  }
  .path-box .external-icon {
    width: 25px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.5rem;
  }
  .path-box .path-image-container img {
    width: 110px;
  }
  .path-box .path-title {
    font-size: 1.8rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1rem;
  }
}
@media (max-width: 870px) {
  .path-box {
    width: 345px;
    padding-right: 0;
    margin: 30px 10px;
  }
  .path-box .external-icon {
    width: 25px;
  }
  .path-box .path-image-container {
    padding-left: 5px !important;
  }
  .path-box .path-box-type h3 {
    font-size: 1.4rem;
    top: -18px;
  }
  .path-box .path-image-container img {
    width: 92px;
  }
  .path-box .path-title {
    font-size: 1.55rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1rem;
    margin-top: -10px !important;
    margin-left: -5px;
  }
}
/* ----------------- Phone ----------------- */
@media (max-width: 720px) {
  #internships.path {
    padding: 18px;
    overflow-x: scroll;
    width: 100%;
  }
  #internships.path .scroll-right-message {
    display: inline-block;
    position: absolute;
    top: -22px;
    right: 0;
  }
  #internships.path .path-box {
    margin: 0 30px;
    position: relative;
  }
  .path-box {
    width: 360px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.55rem;
  }
  .path-box .path-image-container {
    padding-left: 10px !important;
  }
  .path-box .path-image-container img {
    width: 90px;
  }
  .path-box .path-title {
    font-size: 1.7rem;
  }
  .path-box .path-keypoints-list {
    margin-left: -5px;
    font-size: 1rem;
  }
}
@media (max-width: 510px) {
  #internships.path {
    width: 100%;
    gap: 25px;
  }
  .path-box {
    width: 340px;
  }
  .path-box .path-box-type {
    font-size: 1.4rem;
  }
  .path-box .path-box-type h3 {
    top: -25px;
  }
  .path-box .path-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 380px) {
  .path-box {
    width: 300px;
  }
  .path-box .path-box-type {
    font-size: 1.35rem;
  }
  .path-box .path-box-type h3 {
    top: -25px;
  }
  .path-box .path-image-container {
    padding-left: 5px !important;
  }
  .path-box .path-image-container img {
    width: 80px;
  }
  .path-box .path-title {
    font-size: 1.35rem;
  }
  .path-box .path-keypoints-list {
    font-size: 0.95rem;
  }
}/*# sourceMappingURL=path-box.css.map */