@import "../_mixins";

.scroll-illustration {
  display: inline-block;
  font-family: "Montserrat";
  width: fit-content;
  height: fit-content;
}

.path {
  position: relative;
  display: flex;

  &#internships {
    .scroll-illustration-path {
      display: none;
    }
  }
}

.path-box {
  margin: 40px 10px;
  position: relative;

  border: 2px solid black;
  border-radius: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .accordion-button {
    &:hover {
      position: relative !important;
      background-color: white;
    }
    height: 100px;
    background-color: white;
    font-family: var(--ff-secondary);
    font-size: 1.8rem;
    position: relative !important;

    img {
      width: 85px;
      height: auto;
      position: relative;
      left: 0;

      border: 1px solid black;
      border-radius: 50%;
      margin-right: 30px;
    }
  }

  .path-box-type {
    position: absolute;

    top: -4px;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
    padding: 4px 4px 0 4px;
    height: 15px;

    z-index: 10;

    h4 {
      position: relative;
      font-family: var(--ff-terciary);

      left: 50%;
      transform: translateX(-50%);
      top: -20px;
    }
  }

  .accordion-body {
    display: grid;
    grid-template-columns: 62% 38%;
    font-family: var(--ff-terciary);

    grid-template-areas:
      "text keypoints"
      "webpage date";

    .body-text {
      grid-area: text;
      margin-bottom: 20px;
    }

    a.accordion-webpage {
      grid-area: webpage;

      text-decoration: none;
      font-weight: 600;
      color: black;
      position: absolute;
      left: 0;
      bottom: 0;

      padding: 3px;
      margin-left: 3px;

      img {
        width: 16px;
        margin-left: 3px;
      }
    }

    .accordion-keypoints-list {
      grid-area: keypoints;

      list-style: disc;
      padding-left: 18%;

      li:nth-child(n + 2) {
        margin-top: 5%;
      }
    }

    .path-date {
      grid-area: date;
      position: absolute;
      bottom: 0;
      right: 0;

      padding: 4px;

      margin-right: 3px;
    }
  }
}

@media (min-width: 1440px) {
  .path-box {
    width: 520px;

    .path-box-type {
      h4 {
        font-size: 2rem;
      }
    }

    .path-keypoints-list {
      font-size: 1.5rem;
    }
  }
}

/* ----------------- Desktop SM ----------------- */

@media (max-width: 1440px) {
  .path-box {
    width: 440px;

    .path-keypoints-list {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 1200px) {
  .path-box {
    margin: 30px 10px;
  }
}

/* ----------------- Tablet ----------------- */

@media (max-width: 1080px) {
  .accordion-body {
    grid-template-columns: 1fr;

    grid-template-areas:
      "text text"
      "keypoints keypoints"
      "webpage date" !important;

    .body-text {
      margin-bottom: 0 !important;
    }
  }

  .accordion-body {
    .accordion-keypoints-list {
      padding-left: 15px;
      padding-bottom: 20px;
      font-size: 1rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      li {
        margin: 0 !important;
      }
    }
  }

  .path-box {
    width: 360px;

    margin: 30px 20px;

    .external-icon {
      width: 25px;
    }

    .path-box-type {
      h4 {
        font-size: 1.5rem;
      }
    }

    .path-keypoints-list {
      font-size: 1rem;
    }
  }
}

@media (max-width: 870px) {
  .path-box {
    .external-icon {
      width: 25px;
    }

    width: 345px;
    padding-right: 0;

    margin: 30px 10px;

    .path-box-type {
      h4 {
        font-size: 1.4rem;
        top: -18px;
      }
    }

    .path-keypoints-list {
      font-size: 1rem;
      margin-top: -10px !important;
      margin-left: -5px;
    }
  }
}

/* ----------------- Phone ----------------- */

@media (max-width: 720px) {
  #internships.path {
    .scroll-illustration-path {
      display: inline-block;
      position: absolute;
      top: -22px;
      right: 0;
    }

    overflow-x: scroll;
    width: 100%;

    padding: 18px 0;

    .path-box {
      margin: 0 30px;
    }
  }

  .path-box {
    width: 360px;

    .accordion-button {
      font-size: 1.4rem !important;
    }

    .path-box-type {
      h4 {
        font-size: 1.2rem;
        top: -17px;
      }
    }
  }
}

@include phone-xl {
  #internships.path {
    width: 100%;

    &:first-child {
      margin-right: -20px;
    }
  }

  .path-box {
    width: 330px;

    .accordion-button {
      font-size: 1.35rem !important;
      img {
        margin-right: 15px !important;
        margin-left: -12px !important;
      }
    }

    .path-box-type {
      h4 {
        font-size: 1.4rem;
        top: -18px;
      }
    }
  }
}

@media (max-width: 440px) {
  #internships.path {
    padding: 18px 0;
  }
}

@media (max-width: 390px) {
  .path-box {
    width: 300px;

    .path-box-type {
      h4 {
        font-size: 1.2rem;
        top: -18px;
      }
    }

    .accordion-body {
      .accordion-keypoints-list {
        font-size: 0.95rem;
      }
    }
  }
}

@media (max-width: 355px) {
  #internships.path {
    padding: 18px 0;
  }
  .path-box {
    width: 250px;

    .path-box-type {
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}
