@import "../_mixins";

#path-section {
  margin-top: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin-bottom: 40px;

    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 2.4rem;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@include desktop-xl {
  #path-section {
    & > h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1080px) {
  #path-section {
    & > h2 {
      font-size: 2.2rem;
    }
  }
}

@include tablet {
  #path-section {
    margin-top: 40px;
    & > h2 {
      font-size: 2rem;
      margin-bottom: 35px;
    }
  }
}
