#intro {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
}
#intro > p {
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: 400;
}
#intro h1 {
  text-align: left;
  font-family: var(--ff-primary);
  font-weight: 600;
  color: #83f0f3;
  text-shadow: 2.5px 0 #000, -2.5px 0 #000, 0 2.5px #000, 0 -2.5px #000, 1.5px 1.5px #000, -1.5px -1.5px #000, 1.5px -1.5px #000, -1.5px 1.5px #000;
  margin-left: -2.5px;
}
#intro span#intro-profession {
  display: flex;
  flex-direction: row;
}
#intro span#intro-profession h4 {
  font-family: var(--ff-secondary);
  font-weight: 500;
  text-shadow: 1.5px 0px 1px rgba(141, 141, 141, 0.35);
  margin-top: 6px;
  color: #0e0c7b;
}

#get-to-know-me {
  display: flex;
  justify-content: center;
  margin: 60px 0;
  text-align: center;
}
#get-to-know-me .scroll-illustration-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  margin-bottom: -5px;
}
#get-to-know-me .scroll-illustration-intro div {
  font-size: 12px;
  margin-top: -4px;
}

@media (min-width: 1281px) {
  #intro > p {
    font-size: 1.5rem;
  }
  #intro h1 {
    font-size: 3.725rem;
  }
  #intro span#intro-profession #node-intro {
    width: 120px;
    margin: 0 8px;
  }
  #intro span#intro-profession h4 {
    font-size: 2.85rem;
  }
  #get-to-know-me {
    font-size: 1.08rem;
  }
  #get-to-know-me .scroll-illustration-intro {
    font-size: 0.75rem;
    margin: 0 8px;
  }
  #get-to-know-me .scroll-illustration-intro div {
    font-size: 0.75rem;
    margin-top: -4px;
  }
}
@media (max-width: 1280px) {
  #intro {
    margin-left: 20px;
  }
  #intro > p {
    font-size: 1.3rem;
  }
  #intro h1 {
    font-size: 2.83rem;
  }
  #intro span#intro-profession #node-intro {
    width: 98px;
    margin: 0 8px;
  }
  #intro span#intro-profession h4 {
    font-size: 2.35rem;
  }
  #get-to-know-me {
    font-size: 1rem;
  }
  #get-to-know-me .scroll-illustration-intro {
    font-size: 0.75rem;
    margin: 0 8px;
  }
  #get-to-know-me .scroll-illustration-intro div {
    font-size: 0.75rem;
    margin-top: -4px;
  }
}
@media (max-width: 960px) {
  #intro {
    margin-left: 15px;
  }
  #intro > p {
    font-size: 1.125rem;
  }
  #intro h1 {
    font-size: 2.1rem;
  }
  #intro span#intro-profession #node-intro {
    width: 78px;
    margin: 0 6px;
  }
  #intro span#intro-profession h4 {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  #intro {
    margin-left: 2vw;
  }
  #intro > p {
    font-size: 1.125rem;
  }
  #intro h1 {
    font-size: 1.88rem;
  }
  #intro span#intro-profession {
    margin-left: -2px;
  }
  #intro span#intro-profession #node-intro {
    width: 62px;
    margin: 0 4.5px;
    margin-top: 2px;
  }
  #intro span#intro-profession h4 {
    font-size: 1.46rem;
  }
  #intro #presentation-text {
    font-size: 1.1rem;
    line-height: 24px;
    margin: 15px 0px;
    width: 270px;
  }
  #intro #get-to-know-me {
    top: 18px;
    font-size: 0.85rem;
  }
  #intro #get-to-know-me .scroll-illustration-intro {
    font-size: 0.5rem;
    margin: 0 8px;
  }
}
@media (max-width: 580px) {
  #get-to-know-me {
    margin: 30px 0;
  }
  #intro {
    margin-left: 6px;
    margin-top: 15px;
    position: static;
  }
  #intro > p {
    display: none;
  }
  #intro h1 {
    font-size: 2.125rem;
    margin: 0 auto;
  }
  #intro span#intro-profession {
    margin: 0 auto;
    margin-top: -5px;
  }
  #intro span#intro-profession #node-intro {
    width: 67px;
    margin: 0 5px;
    margin-top: 4px;
  }
  #intro span#intro-profession h4 {
    font-size: 1.7rem;
  }
}
@media (max-width: 358px) {
  #intro h1 {
    font-size: 1.72rem;
    margin: 0 auto;
  }
  #intro span#intro-profession {
    margin: 0 auto;
    margin-top: -5px;
  }
  #intro span#intro-profession #node-intro {
    width: 52px;
    margin: 0 4px;
    margin-top: 4px;
  }
  #intro span#intro-profession h4 {
    font-size: 1.28rem;
  }
}/*# sourceMappingURL=intro.css.map */