#technologies-list {
  width: 95%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow-x: scroll;

  margin-bottom: 20px;

  img {
    height: 100px;
    margin: 0 5px;
    width: auto;
  }
}
