@import "../_mixins";

#main-tech-list {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 30px;

  #content-intro {
    align-self: flex-start;
    margin-left: 3.2vw;
  }

  h2 {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 1.8rem;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

@include desktop-sm {
  #main-tech-list {
    margin-top: 20px;

    p {
      font-size: 1.2rem;
    }
  }
}

@include tablet {
  #main-tech-list {
    margin-top: 20px;

    h2 {
      font-size: 1.85rem;
    }
  }
}
