@import "../_mixins";

#technologies-list {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  white-space: nowrap;
  overflow-x: scroll;

  img {
    height: 100px;
    margin: 0 5px;
    width: auto;
  }
}

@include desktop-sm {
  #technologies-list {
    width: 100%;
  }
}

@include tablet {
  #technologies-list {
    width: 80%;

    img {
      height: 80px;
    }
  }
}

@include phone-xl {
  #technologies-list {
    img {
      height: 70px;
    }
  }
}
