@import "../../_mixins";

#content-one {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;

  margin-top: 15px;
  height: fit-content;

  padding-right: calc(1.8vw + 40px);

  @include phone-xl {
    margin-top: 15px;
    padding: 0;
    grid-template-columns: 1fr;
  }

  #separator-content {
    width: 4px;
    height: 40%;

    background: rgba(0, 150, 150, 0.7);
    border-radius: 30px;
    margin-right: auto;

    @include tablet {
      width: 3px;
      height: 40%;
      margin-left: 5px;
    }

    @include phone-xl {
      width: 19vw;
      height: 4px;
      margin: 20px;
    }
  }
}
