@import "../../_mixins";

#content-one {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;

  margin-top: 2vh;
  height: fit-content;

  padding-right: calc(1.8vw + 40px);

  margin-bottom: calc(3.5vw + 20px);

  @include phone-xl {
    margin-top: 15px;
    padding: 0;
    grid-template-columns: 1fr;
  }

  #separator-content {
    width: 4px;
    height: 50%;

    background: rgba(0, 150, 150, 0.7);
    border-radius: 30px;
    margin-right: auto;

    @include phone-xl {
      width: 18.5vw;
      height: 4px;
      margin: calc(2vh - 5px);
    }
  }
}
