@import "../../mixins";

#content-section {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;

  margin-top: calc(1vh + 8px);
  padding-right: calc(2vw + 30px);

  @include maxCustom(1300px) {
    padding: 0 30px 0 0;
  }

  @include phone-xl {
    margin-top: 15px;
    padding: 0;
    grid-template-columns: 1fr;
  }

  #separator-content {
    width: 4px;
    height: 50%;

    background: rgba(0, 150, 150, 0.7);
    border-radius: 30px;
    margin-right: auto;

    @include phone-xl {
      width: 18.5vw;
      height: 4px;
      margin: calc(1vh + 4px) 0;
    }
  }
}
