@import "../../_queries";

#experience {
  display: flex;

  img#numberOne {
    width: calc(3vw + 40px);

    @media (max-width: 1200px) {
      width: calc(4vw + 20px);
    }
    @include phone-xl {
      width: 12vw;
    }
  }
  #experience-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    p {
      position: relative;
      top: 0.5vw;
      margin-left: 8px;

      font-family: "Ubuntu";
      font-weight: 400;
      font-size: var(--exp-ill-text);

      color: #212529;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  #experience-company-logos {
    display: flex;
    position: relative;
    top: 0.5vw;
    left: calc(1vw + 15px);

    @media (max-width: 370px) {
      top: 2.5px;
    }

    img {
      width: calc(7vw + 20px);

      @include phone-xl {
        width: calc(10vw + 30px);
      }
      &:nth-child(2) {
        margin-left: 0.5vw;
      }
    }
  }
}
