@import "../../_mixins";

#experience {
  display: flex;

  img#numberOne {
    width: calc(3vw + 40px);

    @include tablet {
      width: calc(2.8vw + 30px);
    }
    @include phone-xl {
      width: 12vw;
    }
  }
  #experience-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    p {
      position: relative;
      top: 0.5vw;
      margin-left: 8px;

      font-family: "Ubuntu";
      font-weight: 400;
      //bfont-size: var(--exp-ill-text);

      color: #212529;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  #experience-company-logos {
    display: flex;
    position: relative;
    top: 0.5vw;
    left: calc(1.25vw + 10px);

    @media (max-width: 370px) {
      top: 2.5px;
    }

    img {
      width: calc(6vw + 20px);

      @include phone-xl {
        width: calc(10vw + 30px);
      }

      &:nth-child(2) {
        margin-left: 0.5vw;
      }
    }
  }
}

/* ----------------- Desktop LG ----------------- */

@include desktop-xl {
  #experience-text p {
    font-size: clamp(2.7rem, 1rem + 1.5vw, 10rem);
  }
}

@include desktop-lg {
  #experience-text p {
    font-size: 2.6rem;
  }
}

/* ----------------- Desktop SM ----------------- */

@include desktop-sm {
  #experience-text p {
    font-size: 1.9rem;
  }
  img#numberOne {
    width: calc(4vw + 20px);
  }
}

@media (max-width: 830px) {
  #experience-text p {
    font-size: 1.62rem;
  }
}

/* ----------------- Tablet ----------------- */

@include tablet {
  #experience-text p {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  #experience-text p {
    font-size: 1.1rem;
  }
}

/* ----------------- Phone ----------------- */

@include phone-xl /* (530px) */ {
  #experience-text p {
    font-size: 1.3rem;
  }
}

@media (max-width: 370px) {
  #experience-text p {
    font-size: 1.1rem;
  }
}
