@import "../../_queries";

#experience {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  left: 0;

  #experience-text {
    display: flex;
    h5 {
      font-family: "Ubuntu";
      font-weight: 400;
      font-size: var(--exp-ill-h5-fs);
      line-height: calc(12vw + 20px);
      height: calc(12vw + 30px);

      color: #212529;

      @include phone-xl {
        line-height: calc(16vw + 40px);
        height: calc(20vw + 35px);
      }
    }
    p {
      position: relative;
      left: -3vw;
      top: 0.5vw;
      font-family: "Ubuntu";
      font-weight: 400;
      font-size: var(--exp-ill-p-fs);

      color: #212529;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @include phone-xl {
        left: -4.5vw;
        top: 0.5vw;
      }
    }
  }

  #experience-company-logos {
    display: flex;
    position: absolute;
    top: var(--exp-ill-imgs-top);
    left: var(--exp-ill-imgs-left);

    img {
      height: auto;
      width: var(--exp-ill-imgs-width);
      @include phone-xl {
        position: relative;
        min-width: none;
      }
    }
  }
}
