@import "../../_queries";

#presentation-text {
  display: flex;
  width: 100%;

  @include phone-xl {
    height: 100%;
    margin: 0;
    padding: 0 4vw;
  }
  p {
    width: 100%;
    font-family: "Nunito Sans";
    font-size: var(--pres-text-fs);
    line-height: var(--pres-text-lh);
    text-align: right;

    align-self: center;

    @include phone-xl {
      text-align: center;
    }
  }

  @include phone-xl {
    #tech-word {
      font-weight: bold;
    }
    #sports-word {
      font-weight: bold;
    }
    #professional-word {
      font-weight: bold;
    }
    #frontend-word {
      font-weight: bold;
      color: #0e0c7b;
    }
    #design-studio-word {
      font-weight: bold;
      color: #0e0c7b;
    }
  }
}
