@import "../mixins";

#facts-frame {
  display: flex;
  align-items: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 25px;
  width: fit-content;

  img#facts-image {
    display: inline-block;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    height: 220px;
    width: auto;

    border-radius: 50%;

    border: 2px solid rgb(255, 255, 255, 0.5);
    outline: 2px solid black;
  }
}

#facts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 85px;
  margin-bottom: 30px;
  place-items: center;

  .fact {
    display: flex;
    flex-direction: row-reverse;

    width: 450px;
    height: 100%;

    border: 2px solid black;
    border-radius: 20px 0 0 20px;

    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);

    video {
      width: 200px;
      height: 170px;
    }
    p {
      align-self: center;
      text-align: center;

      width: 100%;

      margin-bottom: 0;

      font-weight: 400;
      font-size: 1.25rem;
      font-family: var(--ff-secondary);
    }

    &:nth-child(n + 3) {
      flex-direction: row;

      border-radius: 0 20px 20px 0;
    }
  }
}

@media (max-width: 1100px) {
  #facts-frame {
    img#facts-image {
      height: 185px;
    }
  }
  #facts-list {
    gap: 30px;

    .fact {
      width: 350px;
      height: 100%;

      video {
        width: 190px;
        height: 160px;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@include tablet {
  #facts-frame {
    img#facts-image {
      height: 160px;
    }
  }
  #facts-list {
    gap: 30px;

    .fact {
      width: 290px;
      height: 100%;

      padding: 5px;

      video {
        width: 150px;
        height: 120px;
      }
      p {
        font-size: 0.95rem;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 635px) {
  #facts-frame {
    img#facts-image {
      height: 155px;
      top: 135px;
    }
  }
  #facts-list {
    gap: 20px;

    .fact {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 190px;
      height: 175px;

      border-radius: 20px;

      padding: 0 5px;
      margin-bottom: 20px;

      video {
        width: 190px;
        height: 95px;
      }
      p {
        font-size: 1rem;
        line-height: 18px;
      }

      &:nth-child(n + 3) {
        flex-direction: column;
        border-radius: 20px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 408px) {
  #facts-frame {
    img#facts-image {
      height: 140px;
      top: 120px;
    }
  }
  #facts-list {
    gap: 15px;

    .fact {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      width: 155px;
      height: 170px;

      border-radius: 20px;

      padding: 4px 5px;
      margin-bottom: 20px;

      video {
        width: 100%;
        height: 90px;
      }
      p {
        font-size: 0.9rem;
      }

      &:nth-child(odd) {
        flex-direction: column-reverse;
      }
    }
  }
}
