@media (min-width: 768px) {
  .blockquote {
    margin-top: 40px;
    p {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 768px) {
  .blockquote {
    margin: 0 30px;

    p {
      font-size: 1rem;
    }
  }
}
