#content-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;
  padding: 0 80px 0 0;
}
@media (max-width: 1300px) {
  #content-section {
    padding: 0 50px 0 0;
  }
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #content-section {
    padding: 0 20px 0 0;
  }
}
@media (max-width: 870px) {
  #content-section {
    margin-top: 15px;
    padding: 0;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 570px) {
  #content-section {
    margin-top: 5px;
  }
}
#content-section #experience {
  display: flex;
  justify-content: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
}
#content-section #experience #experience-text {
  display: flex;
}
#content-section #experience #experience-text h1 {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 410px;
  color: #212529;
  line-height: 270px;
  height: 292px;
}
@media (max-width: 1400px) {
  #content-section #experience #experience-text h1 {
    font-size: 350px;
  }
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #content-section #experience #experience-text h1 {
    font-size: 300px;
  }
}
@media (max-width: 870px) {
  #content-section #experience #experience-text h1 {
    font-size: 300px;
    height: 215px;
    line-height: 195px;
  }
}
@media (max-width: 570px) {
  #content-section #experience #experience-text h1 {
    font-size: 260px;
  }
}
@media (max-width: 450px) {
  #content-section #experience #experience-text h1 {
    font-size: 230px;
  }
}
#content-section #experience #experience-text p {
  position: relative;
  right: 65px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #212529;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1400px) {
  #content-section #experience #experience-text p {
    font-size: 36px;
    right: 48px;
    top: 16px;
  }
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #content-section #experience #experience-text p {
    font-size: 32px;
    right: 46px;
    top: 26px;
  }
}
@media (max-width: 1100px) {
  #content-section #experience #experience-text p {
    top: 28px;
    font-size: 28px;
  }
}
@media (max-width: 920px) {
  #content-section #experience #experience-text p {
    font-size: 26px;
  }
}
@media (max-width: 870px) {
  #content-section #experience #experience-text p {
    font-size: 34px;
    right: 42px;
    top: 0;
  }
}
@media (max-width: 570px) {
  #content-section #experience #experience-text p {
    font-size: 30px;
    right: 38px;
    top: 6px;
  }
}
@media (max-width: 450px) {
  #content-section #experience #experience-text p {
    font-size: 25px;
    right: 34px;
    top: 8px;
  }
}
#content-section #experience #experience-company-logos {
  display: flex;
  position: absolute;
  left: 32.7586206897%;
  top: 70px;
}
@media (max-width: 1400px) {
  #content-section #experience #experience-company-logos {
    left: 31.0344827586%;
    top: 80px;
  }
}
@media (max-width: 1100px) {
  #content-section #experience #experience-company-logos {
    left: 34.4827586207%;
  }
}
@media (max-width: 870px) {
  #content-section #experience #experience-company-logos {
    left: 140px;
    top: 60px;
  }
}
@media (max-width: 570px) {
  #content-section #experience #experience-company-logos {
    left: 120px;
  }
}
@media (max-width: 450px) {
  #content-section #experience #experience-company-logos {
    left: 110px;
  }
}
#content-section #experience #experience-company-logos img {
  height: auto;
}
@media (max-width: 1400px) {
  #content-section #experience #experience-company-logos img {
    width: 130px;
  }
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #content-section #experience #experience-company-logos img {
    width: 120px;
  }
}
@media (max-width: 1100px) {
  #content-section #experience #experience-company-logos img {
    width: 100px;
  }
}
@media (max-width: 870px) {
  #content-section #experience #experience-company-logos img {
    width: 120px;
  }
}
@media (max-width: 570px) {
  #content-section #experience #experience-company-logos img {
    width: 110px;
  }
}
@media (max-width: 450px) {
  #content-section #experience #experience-company-logos img {
    width: 100px;
  }
}
#content-section .separatorTwo {
  width: 4px;
  height: 220px;
  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;
  margin-right: auto;
  margin-top: 15px;
}
@media (max-width: 1000px) {
  #content-section .separatorTwo {
    margin: 0;
  }
}
@media (max-width: 870px) {
  #content-section .separatorTwo {
    width: 220px;
    height: 4px;
    margin: 4vw 0;
  }
}
#content-section #presentation-text {
  width: 100%;
}
@media (max-width: 870px) {
  #content-section #presentation-text {
    height: 100%;
    margin: 0;
  }
}
#content-section #presentation-text p {
  width: 100%;
  font-family: "Nunito Sans";
  font-size: 36px;
  line-height: 44px;
  text-align: right;
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #content-section #presentation-text p {
    font-size: 26px;
  }
}
@media (max-width: 870px) {
  #content-section #presentation-text p {
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
  }
}
@media (max-width: 570px) {
  #content-section #presentation-text p {
    line-height: 26px;
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  #content-section #presentation-text p {
    line-height: 26px;
    font-size: 20px;
  }
}
@media (max-width: 870px) {
  #content-section #presentation-text #tech-word {
    font-weight: bold;
  }
  #content-section #presentation-text #sports-word {
    font-weight: bold;
  }
  #content-section #presentation-text #professional-word {
    font-weight: bold;
  }
  #content-section #presentation-text #frontend-word {
    font-weight: bold;
    color: #0e0c7b;
  }
}/*# sourceMappingURL=contentOne.css.map */