@import "../mixins";

.separatorTwo {
  width: 4px;
  height: 220px;

  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;

  margin-left: -5vw;

  @include sm {
    width: 220px;
    height: 4px;
    margin: 20px 0;
  }
}

#content-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;
  padding: 0 50px;

  @include desktop-sm {
    padding: 0 20px 0 0;
  }

  @include sm {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  #experience {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @include sm {
      width: fit-content;
      left: 0;
    }

    #experience-text {
      display: flex;

      h1 {
        font-family: "Ubuntu";
        font-weight: 400;
        font-size: 410px;

        color: #212529;
        line-height: 270px;
        height: 292px;

        @include custom(1400px) {
          font-size: 350px;
        }

        @include desktop-sm {
          font-size: 320px;
        }

        @include sm {
          font-size: 300px;
          height: fit-content;
        }
      }
      p {
        position: relative;
        right: 65px;
        font-family: "Ubuntu";
        font-weight: 400;
        font-size: 46px;
        line-height: 53px;

        color: #212529;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @include custom(1400px) {
          font-size: 36px;
          right: 50px;
          top: 8px;
        }
        @include desktop-sm {
          font-size: 32px;
          right: 50px;
          top: 20px;
        }
        @include custom(1100px) {
          font-size: 24px;
        }
        @include sm {
          font-size: 34px;
          right: 42px;
          top: 25px;
        }
      }
    }

    #experience-company-logos {
      display: flex;
      position: absolute;
      left: calc(210% * 100% / 580%);
      top: 70px;

      @include custom(1400px) {
        left: calc(200% * 100% / 580%);
        top: 80px;
      }
      @include custom(1100px) {
        left: calc(215% * 100% / 580%);
      }

      @include sm {
        left: 140px;
        top: 90px;
      }

      img {
        height: auto;

        @include custom(1400px) {
          width: 130px;
        }
        @include desktop-sm {
          width: 120px;
        }
        @include custom(1100px) {
          width: 110px;
        }
        @include sm {
          width: 120px;
        }
      }
    }
  }

  #presentation-text {
    @include sm {
      margin: 0 60px;
      width: 100%;
    }
    p {
      font-family: "Nunito Sans";
      font-size: 32px;
      line-height: 44px;
      text-align: right;

      @include desktop-sm {
        font-size: 26px;
      }
      @include sm {
        line-height: 30px;
        font-size: 24px;
        text-align: center;
      }
    }

    @include sm {
      #tech-word {
        font-weight: bold;
      }
      #sports-word {
        font-weight: bold;
      }
      #professional-word {
        font-weight: bold;
      }
      #frontend-word {
        font-weight: bold;
        color: #0e0c7b;
      }
    }
  }
}
