@import "../mixins";

.separatorTwo {
  width: 4px;
  height: 220px;

  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;

  @include custom(1100px) {
    margin-right: -8px;
  }
  @include sm {
    width: 220px;
    height: 4px;
    margin: 20px 0;
  }
}

#content-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  place-items: center;

  @include sm {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  #experience {
    display: flex;
    position: relative;
    border: 1px solid black;
    width: fit-content;

    @include sm {
      left: 0;
    }

    #experience-text {
      display: flex;

      h1 {
        font-family: "Ubuntu";
        font-weight: 400;
        font-size: 410px;

        color: #000000;
        line-height: 270px;
        width: 170px;
        height: 292px;

        @include custom(1400px) {
          font-size: 550px;
        }

        @include sm {
          font-size: 300px;
          height: fit-content;
        }
      }
      p {
        font-family: "Ubuntu";
        font-weight: 400;
        font-size: 46px;
        line-height: 53px;

        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @include custom(1400px) {
          font-size: 36px;
          position: relative;
          left: -15px;
          top: 6px;
        }
        @include sm {
          font-size: 34px;
          position: relative;
          right: 42px;
          top: -5px;
        }
      }
    }

    #experience-company-logos {
      display: flex;
      position: absolute;
      left: 190px;
      top: 80px;
      @include sm {
        left: 150px;
        top: 60px;
      }
      @include custom(1400px) {
        left: 170px;
        top: 80px;
      }
      img {
        @include custom(1400px) {
          width: 130px;
          height: auto;
        }
        @include sm {
          width: 120px;
          height: auto;
        }
      }
    }
  }

  #presentation-text {
    border: 1px solid black;
    margin-right: 4vw;

    @include sm {
      margin: 0 60px;
      width: 100%;
    }
    p {
      font-family: "Nunito Sans";
      font-size: 32px;
      line-height: 44px;
      text-align: right;

      @include desktop-sm {
        font-size: 26px;
      }
      @include sm {
        line-height: 30px;
        font-size: 24px;
        text-align: center;
      }
    }

    @include sm {
      #tech-word {
        font-weight: bold;
      }
      #sports-word {
        font-weight: bold;
      }
      #professional-word {
        font-weight: bold;
      }
      #frontend-word {
        font-weight: bold;
        color: #0e0c7b;
      }
    }
  }
}
