@import "../mixins";

#hero-section {
  display: flex;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 100px;

  width: 95.2vw;
  height: 41.9921875vh;

  border-radius: 15px;
  border: 5px solid #212529;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  @include phone {
    margin-top: 140px;

    width: 90vw;
    height: 28vh;
  }

  #hero-background {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    filter: blur(5px);

    img {
      position: absolute;

      min-width: 30px;
      min-height: 30px;
    }
  }

  #hero-profile {
    .separator {
      width: 4px;
      height: 190px;
      margin: 0 auto;
      background: rgba(0, 150, 150, 0.7);
      border-radius: 30px;

      @include phone {
        display: none;
      }

      @include desktop-sm {
        display: none;
      }
    }

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #profile-image-container {
      width: 60%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      img {
        width: auto;
        height: 95%;

        @include phone {
          height: 160px;
          width: auto;
          position: absolute;
          top: -70px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    #profile-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;

      @include phone {
        margin-top: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 73px;
        color: #000000;

        text-shadow: 6px 6px 6px rgba(141, 141, 141, 0.35);

        @include phone {
          font-size: 34px;
        }
        @include desktop-sm {
          font-size: 55px;
        }
      }

      span#profile-position {
        display: flex;
        flex-direction: row;

        h2 {
          font-family: "Ubuntu";
          font-size: 52px;
          line-height: 60px;
          text-shadow: 2px 1px 1px white;

          @include phone {
            margin-top: -10px;
            font-size: 38px !important;
          }

          @include desktop-sm {
            font-size: 42px;
          }
        }

        h2:nth-child(1) {
          color: #0e0c7b;
          margin-right: 10px;
        }

        h2:nth-child(2) {
          color: #057a26;
        }
      }

      div#profile-contact-container {
        position: relative;
        top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include phone {
          display: none;
        }

        p {
          margin-top: 10px;
          font-family: "Ubuntu";
          font-size: 28px;

          @include desktop-sm {
            font-size: 26px;
          }
        }

        span {
          margin: 0 auto;
        }

        #profile-contact-logos {
          margin-top: 10px;
          display: flex;
          align-items: center;
          img {
            width: 85px;
            height: auto;

            @include desktop-sm {
              width: 75px;
            }
          }
          img:nth-child(1) {
            margin-right: 35px;
          }
        }
      }
    }

    #profile-image {
      width: 380px;
      height: 380px;

      border: 3px solid #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 50%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #profile-contact-logos {
    img {
      width: 75px !important;
      height: auto;
    }
  }
}

@media only screen and (max-width: 870px) {
  @media only screen and (max-height: 740px) {
    h1 {
      font-size: 30px;
    }
    span {
      h2 {
        margin-top: -15px;
        font-size: 24px !important;
      }
    }
  }
}
