@import "../mixins";

#hero-section {
  display: flex;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 100px;

  width: 95.2vw;
  height: 41.9921875vh;

  border-radius: 15px;
  border: 5px solid #212529;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  @include phone-xl {
    margin-top: 140px;

    width: 90vw;
    height: 28vh;
  }

  #hero-background {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    filter: blur(5px);

    img {
      position: absolute;

      min-width: 30px;
      min-height: 30px;
    }
  }

  #hero-profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.6fr 4px 1fr;
    place-items: center;

    @include desktop-sm {
      grid-template-columns: 0.6fr 1fr;
    }

    @include phone-xl {
      grid-template-columns: 1fr;
    }

    #separator-hero {
      width: 5px;
      height: 160px;

      background: rgba(0, 150, 150, 0.7);
      border-radius: 30px;

      @include desktop-sm {
        display: none;
      }
    }

    #profile-image-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      img {
        width: auto;
        height: calc(23vh + 48px);

        @include phone-xl {
          width: auto;
          height: calc(20vh + 36px);
          position: absolute;
          top: -90px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }

    #profile-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include phone-xl {
        align-self: flex-end;
      }

      h1 {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: calc(4vw + 16px);
        color: #000000;

        text-shadow: 6px 6px 6px rgba(141, 141, 141, 0.35);

        @include phone-xl {
          font-size: calc(4.5vw + 16px);
          margin-bottom: -1.5vh;
        }
      }

      span#profile-position {
        display: flex;
        flex-direction: row;

        h2 {
          font-family: "Ubuntu";
          font-size: calc(3vw + 8px);
          line-height: 60px;
          text-shadow: 2px 1px 2px white;

          @include phone-xl {
            font-weight: bold;
            font-size: calc(3vw + 12px);
          }
        }

        h2:nth-child(1) {
          color: #0e0c7b;
          margin-right: 10px;
        }

        h2:nth-child(2) {
          color: #057a26;
        }
      }

      #profile-contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include minWmaxH(1300px, 700px) {
          display: none;
        }

        @include phone-xl {
          display: none;
        }

        p {
          font-family: "Ubuntu";

          margin-top: calc(100vh - 96.5vh);
          font-size: calc(1vw + 8px);
        }

        #profile-contact-logos {
          margin-top: 0.5vh;
          display: flex;
          align-items: center;

          img {
            width: calc(3vw + 28px);
            height: auto;
          }

          img:nth-child(1) {
            margin-right: 35px;
          }
        }
      }
    }

    #profile-image {
      width: 380px;
      height: 380px;

      border: 3px solid #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 50%;
    }
  }
}
