#hero-container {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border: 5px solid #000000;
  margin-top: 130px;
  width: 95.2vw;
  height: 41.9921875vh;
  border-radius: 15px;
  position: relative;
  display: flex;
}
#hero-container #hero-background {
  overflow: hidden;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#hero-container #hero-background img {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
}
#hero-container #hero-profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-container #hero-profile .separator {
  width: 4px;
  height: 190px;
  margin: 0 auto;
  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;
}
#hero-container #hero-profile #profile-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
#hero-container #hero-profile #profile-image-container img {
  width: auto;
  height: 100%;
}
#hero-container #hero-profile #profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
#hero-container #hero-profile #profile-info-container h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 73px;
  color: #000000;
  text-shadow: 6px 6px 6px rgba(141, 141, 141, 0.35);
}
#hero-container #hero-profile #profile-info-container span#profile-position {
  display: flex;
  flex-direction: row;
}
#hero-container #hero-profile #profile-info-container span#profile-position h2 {
  font-family: "Ubuntu";
  font-size: 52px;
  line-height: 60px;
  text-shadow: 2px 1px 1px white;
}
#hero-container #hero-profile #profile-info-container span#profile-position h2:nth-child(1) {
  color: #0e0c7b;
  margin-right: 10px;
}
#hero-container #hero-profile #profile-info-container span#profile-position h2:nth-child(2) {
  color: #057a26;
}
#hero-container #hero-profile #profile-info-container div#profile-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-container #hero-profile #profile-info-container div#profile-contact-container span {
  margin: 0 auto;
}
#hero-container #hero-profile #profile-info-container div#profile-contact-container img:nth-child(1) {
  margin-right: 20px;
}
#hero-container #hero-profile #profile-info-container div#profile-contact-container p {
  margin-top: 10px;
  font-family: "Ubuntu";
  font-size: 32px;
}
#hero-container #hero-profile #profile-image {
  box-sizing: border-box;
  width: 380px;
  height: 380px;
  border: 3px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

@media only screen and (max-width: 1440px) {
  #profile-info-container h1 {
    font-size: 44px !important;
  }
  #profile-info-container span#profile-position h2 {
    font-size: 40px !important;
  }
  #profile-info-container span#profile-contact-container {
    margin-top: -10px !important;
  }
  #profile-info-container div#profile-contact-container img {
    width: 80px !important;
    height: auto;
  }
}
@media only screen and (max-width: 870px) {
  .separator {
    display: none;
  }
  #hero-container {
    margin-top: 86px;
    width: 97.2vw;
    height: 28vh !important;
  }
  #hero-container #hero-profile {
    position: relative;
  }
  #hero-container #hero-profile #profile-image-container #profile-image {
    height: 160px;
    width: auto;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #hero-container #profile-info-container {
    margin-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #hero-container #profile-info-container h1 {
    font-size: 34px !important;
  }
  #hero-container #profile-info-container span h2 {
    font-size: 28px !important;
  }
  #hero-container div#profile-contact-container img,
#hero-container p {
    display: none;
  }
}/*# sourceMappingURL=hero.css.map */