@import "../_queries";

#hero-section {
  display: flex;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: calc(1vw + 0.8vh + 40px);

  width: 94vw;
  border-radius: 15px;
  border: 0.5vw solid #212529;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  height: fit-content;
  padding: 1vw 0;

  @include phone-xl {
    margin-top: clamp(135px, 10vw + 12vh, 180px);
    padding-bottom: 8px;
    width: 92vw;
    height: clamp(140px, 32vw + 3vh, 370px);

    border: 1vw solid #212529;
  }

  @include phone-xs {
    width: 92vw;
    height: clamp(80px, 37vw, 140px);
  }

  #hero-background {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    filter: blur(calc(0.325vw + 2px));

    img {
      position: absolute;

      min-width: 30px;
      min-height: 30px;
    }
  }

  #hero-profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.6fr 4px 1fr;
    place-items: center;

    @include phone-xl {
      grid-template-columns: 1fr;
    }

    #separator-hero {
      width: 5px;

      background: rgba(0, 150, 150, 0.7);
      border-radius: 30px;

      height: clamp(4vw, 8vw, 120px);

      @include desktop-sm {
        margin-left: -4vw;
        width: 4px;
      }

      @include phone-xl {
        display: none;
      }
    }

    #profile-image-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;

      img {
        border: 3px solid #000000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50%;

        height: auto;
        width: clamp(10vw + 80px, 18vw, 240px);

        @include phone-xl {
          height: auto;
          width: clamp(115px + 5.5vw, 27vw + 4vh, 210px);
          position: absolute;
          top: -90px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }

    #profile-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include phone-xl {
        align-self: flex-end;
      }

      h1 {
        text-align: center;

        font-family: var(--ff-primary);
        font-weight: 600;
        font-size: clamp(0.5rem, 1.3rem + 2.5vw, 16rem);
        color: #000000;

        text-shadow: 6px 6px 6px rgba(141, 141, 141, 0.35);

        @include phone-xl {
          font-size: clamp(1rem, 2.2rem + 2vw, 16rem);
        }

        @include phone-xs {
          font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
        }
      }

      span#profile-position {
        display: flex;
        flex-direction: row;

        h2 {
          font-family: var(--ff-secondary);
          font-size: clamp(0.5rem, 1.2rem + 1.5vw, 8rem);
          text-shadow: 2px 1px 2px white;

          /*@include phone-xl {
            font-weight: bold;
            font-size: 5.5vw;
          }*/
        }

        h2:nth-child(1) {
          color: #0e0c7b;
          margin-right: 0.8vw;
        }

        h2:nth-child(2) {
          color: #057a26;
        }
      }

      #profile-contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(0.8vw + 12px);

        @include phone-xl {
          display: none;
        }

        p {
          font-family: var(--ff-secondary);

          font-size: calc(0.5vw + 0.8rem);
        }

        #profile-contact-logos {
          margin-top: 1vw;
          display: flex;
          align-items: center;

          img {
            width: calc(3vw + 18px);
            height: auto;
          }

          img:nth-child(1) {
            margin-right: 35px;
          }
        }
      }
    }
  }
}
