#hero-section {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  width: 95.2vw;
  height: 41.9921875vh;
  border-radius: 15px;
  border: 5px solid #212529;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 720px) {
  #hero-section {
    margin-top: 140px;
    width: 90vw;
    height: 28vh;
  }
}
#hero-section #hero-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(5px);
}
#hero-section #hero-background img {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
}
#hero-section #hero-profile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.6fr 4px 1fr;
  place-items: center;
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #hero-section #hero-profile {
    grid-template-columns: 0.6fr 1fr;
  }
}
@media (max-width: 720px) {
  #hero-section #hero-profile {
    grid-template-columns: 1fr;
  }
}
#hero-section #hero-profile #separator-hero {
  width: 5px;
  height: 160px;
  background: rgba(0, 150, 150, 0.7);
  border-radius: 30px;
}
@media (max-width: 1200px), (min-height: 810px) and (max-width: 1250px) {
  #hero-section #hero-profile #separator-hero {
    display: none;
  }
}
#hero-section #hero-profile #profile-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#hero-section #hero-profile #profile-image-container img {
  width: auto;
  height: calc(23vh + 48px);
}
@media (max-width: 720px) {
  #hero-section #hero-profile #profile-image-container img {
    width: auto;
    height: calc(20vh + 36px);
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
#hero-section #hero-profile #profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 720px) {
  #hero-section #hero-profile #profile-info-container {
    align-self: flex-end;
  }
}
#hero-section #hero-profile #profile-info-container h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(4vw + 16px);
  color: #000000;
  text-shadow: 6px 6px 6px rgba(141, 141, 141, 0.35);
}
@media (max-width: 720px) {
  #hero-section #hero-profile #profile-info-container h1 {
    font-size: calc(4.5vw + 16px);
    margin-bottom: -1.5vh;
  }
}
#hero-section #hero-profile #profile-info-container span#profile-position {
  display: flex;
  flex-direction: row;
}
#hero-section #hero-profile #profile-info-container span#profile-position h2 {
  font-family: "Ubuntu";
  font-size: calc(3vw + 8px);
  line-height: 60px;
  text-shadow: 2px 1px 2px white;
}
@media (max-width: 720px) {
  #hero-section #hero-profile #profile-info-container span#profile-position h2 {
    font-weight: bold;
    font-size: calc(3vw + 12px);
  }
}
#hero-section #hero-profile #profile-info-container span#profile-position h2:nth-child(1) {
  color: #0e0c7b;
  margin-right: 10px;
}
#hero-section #hero-profile #profile-info-container span#profile-position h2:nth-child(2) {
  color: #057a26;
}
#hero-section #hero-profile #profile-info-container #profile-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1300px) and (max-height: 700px) {
  #hero-section #hero-profile #profile-info-container #profile-contact-section {
    display: none;
  }
}
@media (max-width: 720px) {
  #hero-section #hero-profile #profile-info-container #profile-contact-section {
    display: none;
  }
}
#hero-section #hero-profile #profile-info-container #profile-contact-section p {
  font-family: "Ubuntu";
  margin-top: 3.5vh;
  font-size: calc(1vw + 8px);
}
#hero-section #hero-profile #profile-info-container #profile-contact-section #profile-contact-logos {
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
}
#hero-section #hero-profile #profile-info-container #profile-contact-section #profile-contact-logos img {
  width: calc(3vw + 28px);
  height: auto;
}
#hero-section #hero-profile #profile-info-container #profile-contact-section #profile-contact-logos img:nth-child(1) {
  margin-right: 35px;
}
#hero-section #hero-profile #profile-image {
  width: 380px;
  height: 380px;
  border: 3px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}/*# sourceMappingURL=hero.css.map */