@import "../mixins";

.main-navbar {
  display: flex;
  align-items: center;
  justify-self: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 999;
  padding: 0;
  width: 99vw;
  height: calc(5vh + 12px);
  min-height: 40px;

  background-color: #212529;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;

  @include phone-xl {
    height: 6vh;
    width: 98.5vw;
  }

  #nav-logo {
    margin-left: 2vw;
    margin-right: auto;
    img {
      height: calc(5vh + 16px);
      width: auto;

      @include phone-xl {
        height: calc(4vh + 16px);
      }
    }
  }

  a {
    text-decoration: none;
    margin-right: 4.5vw;
  }
  a.navbar-element {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: calc(1.5vw + 8px);

    color: #ffffff;

    @include phone-xl {
      font-size: calc(2vw + 12px);

      text-decoration: none;
    }
  }
}
