@import "../mixins";

.main-navbar {
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-self: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 0;
  width: 99vw;
  height: 60px;

  @include desktop-sm {
    height: 55px;
  }

  @include phone-xl {
    height: 50px;
    width: 98.5vw;
  }

  @include phone-lg {
    height: 45px;
    width: 96.5vw;
  }

  @include phone-md {
    height: 44px;
  }

  @include phone-sm {
    height: 42px;
  }

  #nav-logo {
    margin-left: 34px;

    @include desktop-sm {
      margin-left: 28px;
    }
    img {
      width: 88px;
      height: auto;

      @include desktop-sm {
        width: 68px;
      }
      @include phone-lg {
        width: 58px;
      }
      @include phone-sm {
        width: 50px;
      }
    }
  }

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  a:nth-child(1) {
    margin-right: auto;
  }
  a {
    text-decoration: none;
    margin-right: 68px;
  }
  a.navbar-element {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;

    color: #ffffff;

    @include desktop-sm {
      font-size: 22px;
    }
    @include phone-xl {
      font-size: 20px;

      text-decoration: none;
      margin-right: 32px;
    }

    @include phone-sm {
      font-size: 17px;

      text-decoration: none;
      margin-right: 20px;
    }
  }
}
