@import "../../_mixins";

#content-two {
  margin-top: calc(2vw + 40px);

  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    align-self: center;
    margin-bottom: 40px;

    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 2.875rem;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@include desktop-xl {
  #content-two {
    & > h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1080px) {
  #content-two {
    & > h2 {
      font-size: 2.2rem;
    }
  }
}

@include tablet {
  #content-two {
    margin-top: 40px;
    & > h2 {
      font-size: 2rem;
      margin-bottom: 35px;
    }
  }
}
