.scroll-right-message {
  display: inline-block;
  font-family: "Montserrat";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.path {
  display: flex;
}
.path#internships .scroll-right-message {
  display: none;
}
.path .path-box-line {
  display: flex;
  align-self: center;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  height: 4px;
  width: 100%;
}

.path-box {
  display: flex;
  align-self: center;
  padding: 10px;
  margin: 40px 40px;
  position: relative;
  border: 2px solid black;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.path-box .path-box-type {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px 4px 0 4px;
  height: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.path-box .path-box-type h3 {
  position: relative;
  font-family: var(--ff-terciary);
  font-weight: 400;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
}
.path-box .path-content-container {
  width: 100%;
  display: flex;
}
.path-box .path-content-container .path-image-container {
  width: 40%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.path-box .path-content-container .path-image-container img {
  border: 2px solid black;
  height: auto;
  border-radius: 50%;
}
.path-box .path-content-container .path-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 3%;
  width: 100%;
  font-family: var(--ff-terciary);
}
.path-box .path-content-container .path-content .path-title {
  font-family: var(--ff-primary);
  font-weight: bolder;
  align-self: center;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.path-box .path-content-container .path-content .path-keypoints-list {
  padding-left: 12%;
  margin-top: 2%;
  font-weight: 400;
}
.path-box .path-content-container .path-content .path-keypoints-list li {
  margin-top: 5%;
}

@media (min-width: 1921px) {
  .path-box {
    width: 730px;
    height: 330px;
    border: 4px solid black;
    border-radius: 16px;
  }
  .path-box .path-box-type h3 {
    top: -35px;
    font-size: 2.2rem;
  }
  .path-box .path-image-container img {
    width: 200px;
  }
  .path-box .path-title {
    margin-top: 15px;
    font-size: 3rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.9rem;
  }
}
@media (max-width: 1920px) {
  .path-box {
    width: 630px;
    height: 250px;
  }
  .path-box .path-box-type h3 {
    font-size: 2rem;
  }
  .path-box .path-image-container img {
    width: 150px;
  }
  .path-box .path-title {
    font-size: 2.25rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.5rem;
  }
}
/* ----------------- Desktop SM ----------------- */
@media (max-width: 1440px) {
  .path-box {
    width: 500px;
    height: 200px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.7rem;
  }
  .path-box .path-image-container img {
    width: 130px;
  }
  .path-box .path-title {
    font-size: 2rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1.25rem;
  }
}
/* ----------------- Tablet ----------------- */
@media (max-width: 1080px) {
  .path-box {
    width: 400px;
    height: 180px;
    margin: 30px 20px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.5rem;
  }
  .path-box .path-image-container img {
    width: 110px;
  }
  .path-box .path-title {
    font-size: 1.8rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1rem;
  }
}
@media (max-width: 870px) {
  .path-box {
    width: 345px;
    height: 160px;
    padding-right: 0;
    margin: 30px 10px;
  }
  .path-box .path-image-container {
    padding-left: 5px !important;
  }
  .path-box .path-box-type h3 {
    font-size: 1.4rem;
    top: -18px;
  }
  .path-box .path-image-container img {
    width: 92px;
  }
  .path-box .path-title {
    font-size: 1.55rem;
  }
  .path-box .path-keypoints-list {
    font-size: 1rem;
    margin-top: -10px !important;
    margin-left: -5px;
  }
}
/* ----------------- Phone ----------------- */
@media (max-width: 720px) {
  #internships.path {
    padding: 18px;
    overflow-x: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  #internships.path .scroll-right-message {
    display: inline-block;
    position: absolute;
    top: -22px;
    right: 0;
  }
  #internships.path .path-box {
    margin: 0;
    position: relative;
  }
  .path-box {
    width: 360px;
    height: 162px;
  }
  .path-box .path-box-type h3 {
    font-size: 1.55rem;
  }
  .path-box .path-image-container {
    padding-left: 10px !important;
  }
  .path-box .path-image-container img {
    width: 90px;
  }
  .path-box .path-title {
    font-size: 1.7rem;
  }
  .path-box .path-keypoints-list {
    margin-left: -5px;
    font-size: 1rem;
  }
}
@media (max-width: 530px) {
  #internships.path {
    width: 100%;
    gap: 50px;
  }
  .path-box {
    width: 340px;
    height: 155px;
  }
  .path-box .path-box-type {
    font-size: 1.4rem;
  }
  .path-box .path-box-type h3 {
    top: -25px;
  }
  .path-box .path-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 380px) {
  .path-box {
    width: 300px;
    height: 145px;
  }
  .path-box .path-box-type {
    font-size: 1.35rem;
  }
  .path-box .path-box-type h3 {
    top: -25px;
  }
  .path-box .path-image-container {
    padding-left: 5px !important;
  }
  .path-box .path-image-container img {
    width: 80px;
  }
  .path-box .path-title {
    font-size: 1.35rem;
  }
  .path-box .path-keypoints-list {
    font-size: 0.95rem;
  }
}/*# sourceMappingURL=path-box.css.map */