.path {
  display: flex;

  .path-box-line {
    display: flex;
    align-self: center;
    background-color: black;

    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    height: 4px;
    width: 100vw;
  }
}

.path-box {
  display: flex;
  align-self: center;

  width: var(--path-box-width);
  height: var(--path-box-height);
  padding: 0;

  margin: 40px 2vw;
  position: relative;

  border: 2.5px solid black;
  background-color: white;
  border-radius: 1vw;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .path-box-type {
    position: absolute;

    top: -35px;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
    padding: 1%;

    font-family: var(--ff-terciary);
    font-weight: 400;
    font-size: var(--fs-lg-xl);
  }

  .path-content-container {
    width: 100%;
    display: flex;
    .path-image-container {
      width: 40%;
      padding-left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border: 2px solid black;
        height: auto;
        width: calc(8vw + 40px);
        max-width: 200px;
        min-width: 125px;
        border-radius: 50%;
      }
    }
    .path-content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      padding-top: 3%;
      width: 100%;

      font-family: var(--ff-secondary);

      .path-title {
        align-self: center;
        font-weight: 500;
        font-size: var(--fs-xl);

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .path-keypoints-list {
        padding-left: 12%;

        margin-top: 2%;
        font-weight: 400;
        font-size: var(--fs-lg);
        li {
          margin-top: 5%;
        }
      }
    }
  }
}
